<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.common.dev.js"></script>
  <title>Document</title>
  <style>
    .red{
      color: red;
    }
    [v-cloak]{
      display: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- <div v-if="isSure">小蒋哥哥</div>
    <div v-else>旅梦扛把子</div> -->
    <!-- <div class="item" v-for="item in list" :key="index">
      <p>{{item}}</p>
    </div> -->
    <!-- <div class="item" v-for="item in people" :key="index">
      <p>{{item.name}}-{{item.age}}</p>
    </div> -->
    <!-- <div class="msg">
      <span>{{message}}</span>
      <span v-text="message"></span>
    </div> -->
    <!-- <div class="count">
      <p>{{count}}</p>
      <button v-on:click="add">+</button>
      <button v-on:click="reduce">-</button>
    </div> -->
    <!-- <div class="model">
      <p>{{message}}</p>
      <p>
        v-model:<input type="text" v-model="message"/>
      </p>
    </div> -->
    <!-- <div class="pic">
      v-on绑定事件(缩写add)，v-bind绑定属性(缩写:)
      <img v-bind:src="imgSrc" alt=""> 
    </div> -->
    <!-- <div @click="changeCOlor":class="isRed?'red':'green'" v-bind:class="[className1. className2]">老蒋很腼腆</div>   ??? -->
    <!-- <div v-pre>{{message}}</div> -->
    <!-- <div v-cloak>{{message}}</div> -->   ???
    <div v-once>{{message}}</div>
    <input type="text" v-model="message"/>
  </div>


  <script>
    var app = new Vue({
      el: '#app', // 一般写框架最外的哪个容器
      data: {
        className1:'active',
        className2:'wrapper',
        message: 'Hello world',
        isSure: true,
        list: ['a', 'b', 'c', 'd'],
        people: [
          {name: '祥祥', age: 18},
          {name: '老蒋', age: 18},
          {name: '皮皮', age: 18}
        ],
        count: 0,
        imgSrc: '',
        isRed: true
      },

      methods: {
        add() {
          console.log('add');
          this.count ++
        },
        reduce() {
          console.log('reduce');
          this.count --
        },
        changeCOlor() {
          // console.log("232");
          this.isRed = !this.isRed
        }
      },

      beforeCreate() {
        console.log('beforeCreate');
      },
      created() {
        console.log('created');
      },
      beforeMount() {
        console.log('beforeMount');
      },
      mounted() {
        console.log('mounted');
      },
      beforeUpdate () {
        console.log('beforeUpdate');
      },
      updated() {
        console.log('updated');
      },
      beforeDestroy() {
        console.log('beforeDestroy');
      },
      destroyed() {
        console.log('destroyed');
      }
    })
  </script>
</body>
</html>